@inherits NavBarComponent
@using BlazorSpa.Client.Pages.User

<span class="align-top nav-bar-top-band" />
<div class="top-row px-4 nav-bar-shadow">
    <div class="ml-md-auto">
        @if( !IsAuthenticated ) {
            <NavBarItem IsSelected=@false ref="NavItemLogIn">
                <a class="nav-link"
                   href="@AuthUrl"
                   onmouseover=@(() => { NavItemLogIn.IsSelected = true; })
                   onmouseout=@(() => { NavItemLogIn.IsSelected = false; })>
                    Log In
                </a>
            </NavBarItem>
        } else {
            <NavBarItem IsSelected=@false ref="NavItemProfile">
                <a class="nav-link"
                    href="@ProfileComponent.Url"
                    onmouseover=@(() => { NavItemProfile.IsSelected = true; })
                    onmouseout=@(() => { NavItemProfile.IsSelected = false; })>
                    <i class="fa fa-user" style="font-size:1em;padding-right:0.5em"></i>@Username
                </a>
            </NavBarItem>
        }
    </div>
</div>

