@inherits NavBarComponent
@using BlazorSpa.Client.Pages.User

<div class="ml-md-auto">
    @if( !IsAuthenticated ) {
        <NavLink class="nav-link" href=@AuthUrl>
            Log In
        </NavLink>
    } else {
        <i class="fa fa-user" style="font-size:0.9rem;"></i>
        <NavLink class="nav-link" href="@ProfileComponent.Url">
            @Username
        </NavLink>
    }

</div>
