@inherits OrganizationComponent
@page "/admin/organization"
@layout MainLayout

<h1>
    Organization Editor
</h1>
<p>
    <div>
        Organizations
    </div>
    <ViewSelector AllowCreate=true ViewType="Organization" ref="ViewSelector" OnSelectionChanged=@SelectedViewChanged />
    <div>
        Locations
    </div>
    <StructureNavigator AllowCreate=true StructureType="Location" ref="StructureNavigator" />
</p>
