@inherits NavBarItemComponent

<li nav-item ref="ListItem">
    <div 
        onmouseover=@(() => { this.IsSelected = true; })
        onmouseout=@(() => { this.IsSelected = false; })
        onclick=@(async () => { await NavBar.SetActive( this ); }) >
        @ChildContent
    </div>
</li>

