@inherits StructureNavigatorComponent

<div class="container">
    <div class="row">
        <div class="col-md-auto">
            @if( Structures.Any() ) {
                <div class="form-group">
                    <div class="container">
                        @foreach( var structure in Structures ) {
                            <div class="row">
                                <div class="col-md-auto">
                                    @structure.Name
                                </div>
                            </div>
                        }
                    </div>
                </div>
            } else {
                <div>None</div>
            }
        </div>
        @if( AllowCreate ) {
            <div class="col-md-4">
                @if( CreatingStructure ) {
                    <input type="text" id="locationType" placeholder="Location Name" bind=@_createStructureName />
                    <button type="button" class="btn btn-sm btn-primary @(Busy ? "disabled" : null)" onclick=@CreateStructure>Create</button>
                    <button type="button" class="btn btn-sm btn-primary @(Busy ? "disabled" : null)" onclick=@CancelCreateStructure>Cancel</button>
                } else {
                    <button type="button" class="btn btn-sm btn-primary @(SelectedView == default ? "disabled" : null)" onclick=@EnterCreateStructure>Create</button>
                }
            </div>
        }
    </div>
</div>