@page "/user/profile"
@inherits ProfileComponent
@layout MainLayout

<div class="row">
    <div class="col-sm-1">
        <i class="fa fa-user" style="font-size:4.5em"></i>
    </div>
    <div class="col-sm-11">
        <div>UserId: @UserId</div>
        <div>Username: @Username</div>
        <div>Last Login: @LastLogin</div>
    </div>
</div>